/*Seleketorznacznika*/
p {
    color: gray;
}
#paragraf {
    color: pink;
}
a,span,div {
    color: blue;
}


li a {
    background-color: yellow;
}

h2 + h3 {
    color: green;
}
jjj

/*wszystko xza wyjatkiem czegos co zawiera last*/
ul> li:not(.last) {
    color: violet;
}

/*wybiera konkretny element z listy*/
ol>li:nth-child(2) {
    background-color: orange;
}

/* co drugi:
ol>li:nth-child(odd) {
    background-color: orange;
}*/
